<div class="container">
  <h1 class="page-title">Books Collection</h1>

  <ul class="card-list">
    <li *ngFor="let item of items">
      <mat-card class="card-item" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.description }}</p>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
  <div class="button-container">
    <div class="button-background">
      <button mat-raised-button color="primary" (click)="toggleForm()">Add Book Details</button>
    </div>
  </div>
  
  <div *ngIf="showForm" class="form-container">
    <form (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Book Name</mat-label> -->
        <input matInput placeholder="Ex. Sapiens" required [(ngModel)]="newItem.name" name="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Book Description</mat-label> -->
        <input matInput placeholder="Ex. non-fiction book" required [(ngModel)]="newItem.description" name="description">
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Add Book</button>
        <button mat-raised-button color="warn" type="button" (click)="toggleForm()">Hide Form</button>
      </div>
    </form>
  </div>